

<!-- <script type="text/javascript" src="js/phaser.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.1/phaser.min.js"></script>
<script src="js/gyro.js"></script>
<script type="text/javascript" src="js/gameLogic.js"></script>



<link rel="stylesheet" type="text/css" href="css/game.css">


<form id="scoreForm" action="gameOver" method="post" style="display:none;">
    <div>
        <input type="text"  id="extraLife" value="<%= extraLife %>"></input>
        <input type="number" id="score" name="score"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>


<audio id="marceSound">
    <source src="sounds/marce.mp3" type="audio/mp3" />
    <source src="sounds/marce.ogg" type="audio/ogg" />
</audio>

<audio id="rudaNOOSound">
    <source src="sounds/rudaNOO.mp3" type="audio/mp3" />
    <source src="sounds/rudaNOO.ogg" type="audio/ogg" />
</audio>

<audio id="gotItemSound">
    <source src="sounds/gotItem.mp3" type="audio/mp3" />
    <source src="sounds/gotItem.ogg" type="audio/ogg" />
</audio>

<audio id="gotItem2Sound">
    <source src="sounds/gotItem2.mp3" type="audio/mp3" />
    <source src="sounds/gotItem2.ogg" type="audio/ogg" />
</audio>
<audio id="gotItem3Sound">
    <source src="sounds/gotItem3.mp3" type="audio/mp3" />
    <source src="sounds/gotItem3.ogg" type="audio/ogg" />
</audio>
<audio id="gotItem4Sound">
    <source src="sounds/gotItem4.mp3" type="audio/mp3" />
    <source src="sounds/gotItem4.ogg" type="audio/ogg" />
</audio>


<audio id="mouthSound">
    <source src="sounds/mouth1.mp3" type="audio/mp3" />
    <source src="sounds/mouth1.ogg" type="audio/ogg" />
</audio>
