

<!-- <script type="text/javascript" src="js/phaser.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.1/phaser.min.js"></script>
<script type="text/javascript" src="js/gameLogic.js"></script>


<link rel="stylesheet" type="text/css" href="css/game.css">


<form id="scoreForm" action="gameOver" method="get" style="display:none;">
    <div>
        <input type="number" id="score" name="score"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
