

<script type="text/javascript" src="js/phaser.js"></script>
<script type="text/javascript" src="js/gameLogic.js"></script>


<link rel="stylesheet" type="text/css" href="css/game.css">


<form id="scoreForm" action="gameOver" method="post" style="display:none;">
    <div>
        <input type="number" id="score" name="score"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
