

<img src="http://hitwebcounter.com/counter/counter.php?page=6435731&style=0035&nbdigits=5&type=page&initCount=0" title="" Alt=""   border="0" >

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-height="200"
  data-show-faces="true">
</div>


<font color="white"> Hola que tal </font>
<a href="/start"><button type="button" class="btn btn-transparent"> Start </button></a>


<div class="container">
  <h2>Best Scores</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Points</th>
        <th>UserName</th>
      </tr>
    </thead>
    <tbody>
    <% _.each(rows, (row) => { %>
      <tr>
        <td><%=row.maxpoints%></td>
        <td><%=row.username%></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
