

<img src="http://hitwebcounter.com/counter/counter.php?page=6435731&style=0035&nbdigits=5&type=page&initCount=0" title="" Alt=""   border="0" >

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-height="200"
  data-show-faces="true">
</div>


<font color="white"> Hola que tal </font>
<a href="/start"><button type="button" class="btn btn-transparent"> Start </button></a>


<!-- <div class="output" id="scoresTable"> </div> -->
<%- table %>
