

<h1> CONGRATULATIONS FOR YOUR HIGHSCORE!!! Introduce your user name: </h1>
<input type="text" id="userName" name="userName">
<a href="/saveNewHighscore"><button type="button" id="saveHighscoreButton"> Save </button></a>

<script>
  alert("NEW SCORE ");
</script>
