


<script type="text/javascript" src="js/newScore.js"></script>

<h1> CONGRATULATIONS FOR YOUR <%= highscore %> POINTS!!!  Introduce your user name: </h1>
<!--<input type="text" id="userName" name="userName"> -->
<!-- <a href="/saveNewHighscore"><button type="button" id="saveHighscoreButton"> Save </button></a> -->

<form id="saveNewHighscoreForm" action="saveNewHighscore" method="post">
    <div>
        <input type="number" name="highscore" value= "<%= highscore %>" style="display:none;" ></input>
        <input type="text" id="highscoreUsername" name="userName"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
