@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);


@font-face {
    font-family: MrDafoe;
    src: url(fonts/MrDafoe-Regular.ttf);
}

#startButtonSpan {
  justify-content: center;
}

#startButton {
  font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  /*margin-top: 20px;*/
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  height: auto;
  background: #12e355;
}

#tutorial {
  color: black;
  position: absolute;
}

#fbstatus {
  position: absolute;
  left: 80%;
  bottom: 86%;
}

#IOG_CP {
  position: absolute;
  left: 80%;
  bottom: 60%;
}

footer {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

/*
.sign {
  font-family: MrDafoe;
  position: fixed;
  right: 1%;
  bottom: 1.5%;
  font-size: 20px;
  color: black;
}
*/
