@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: Brewsky;
    src: url(fonts/Brewsky.ttf);
}

@font-face {
    font-family: GOODDP;
    src: url(fonts/GOODDP.TTF);
}

#brocolitoTitle {
  font-family: GOODDP;
  /*transform: rotateZ(40deg); */
  padding-top: 20px;
  padding-left: 80px;
  color: black;
  position: fixed;
  margin: auto;
}

  body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #12e355 0%, #0dad41 100%);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#brocolitoImage {
  position: fixed;
}



.ads {
  position: absolute;
  left: 10%;
  bottom: 15%;
}



/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: absolute;
  opacity: 0.98;
  border: 4px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 285px; */
  height: 49%;
  background: linear-gradient(to bottom, #0dad41, #086425);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.leaderboard h1 {
  font-size: 18px;
  color: #000000;
  padding: 12px 13px 8px;
  text-align: center;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
}
.leaderboard ol {
  list-style: none;
  counter-reset: leaderboard;
  margin-left: -40px;
}
.leaderboard ol li {
  position: relative;
  border: 1px solid black;
  z-index: 1;
  font-size: 18px;
  counter-increment: leaderboard;
  /*padding: 18px 10px 18px 50px;*/
  padding: 8.6% 10% 5% 50%;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;

  -webkit-transform: translate(+50%, +50%);
  left: 0%;
  bottom: 50%;
  width: 10%;
  height: 40%;
  line-height: 20px;
  color: #086425;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #000;
}

.leaderboard ol li mark::before, .leaderboard ol li mark::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #000000;
  border-left: 10px solid transparent;
  transition: all .1s ease-in-out;
  opacity: 0;
}

.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  font-size: 18px;
  color: black;
}
/*
.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  opacity: 0;
}
*/
.leaderboard ol li:nth-child(1) {
  background: #12e355;
}

.leaderboard ol li:nth-child(1)::after {
  background: #10d14e;
}
.leaderboard ol li:nth-child(2) {
  background: #0fbf47;
}
.leaderboard ol li:nth-child(2)::after {
  background: #0dad41;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.leaderboard ol li:nth-child(2) mark::before, .leaderboard ol li:nth-child(2) mark::after {
  border-top: 6px solid #000000;
  bottom: -7px;
}
.leaderboard ol li:nth-child(3) {
  background: #0c9b3a;
}
.leaderboard ol li:nth-child(3)::after {
  background: #0c862c;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.leaderboard ol li:nth-child(3) mark::before, .leaderboard ol li:nth-child(3) mark::after {
  border-top: 2px solid #000000;
  bottom: -3px;
}
.leaderboard ol li:nth-child(4) {
  background: #09762c;
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(4)::after {
  background: #08651c;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(4) mark::before, .leaderboard ol li:nth-child(4) mark::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #000000;
}

.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
  transform: scaleX(1.05) scaleY(1.05);
}
